<section id="content">

  <div class="content-wrap nopadding">

    <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>

    <div class="section nobg full-screen nopadding nomargin">
      <div class="container vertical-middle divcenter clearfix">

        <div class="row center">
          <a href="<%= root_path %>"><%= image_tag "CP-logo/cp-126.png", alt: "Cardless Logo" %></a>
        </div>

        <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px;">
          <div class="panel-body" style="padding: 40px;">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "nobottommargin signup_form_validator", id: "login-form"}) do |f| %>
              <h3>Create your Account</h3>

              <div class="col_full">
                <label for="login-form-username">Business Email:</label>
                <%= f.email_field :email, id: "login-form-username", class: "form-control not-dark", autofocus: true, placeholder: "This will be your username" %>
              </div>

              <div class="col_full">
                <label for="login-form-password">Password:</label>
                <%= f.password_field :password, id: "user_signup_password", class: "form-control not-dark", autocomplete: "off", placeholder: "Password must be at least 8 characters" %>
              </div>

              <div class="col_full">
                <label for="login-form-password">Confirm Password:</label>
                <%= f.password_field :password_confirmation, id: "login-form-password", class: "form-control not-dark", autocomplete: "off", placeholder: "" %>
              </div>

              <div class="col_full">
                <label for="login-form-username">First Name:</label>
                <%= f.text_field :first_name, class: "form-control not-dark", autofocus: true, placeholder: "Contact Person's First Name" %>
              </div>

              <div class="col_full">
                <label for="login-form-username">Last Name:</label>
                <%= f.text_field :last_name, class: "form-control not-dark", autofocus: true, placeholder: "Contact Person's Last Name" %>
              </div>

              <div class="col_full">
                <label for="login-form-username">Business Name:</label>
                <%= f.text_field :business_name, class: "form-control not-dark", autofocus: true, placeholder: "Business Name" %>
              </div>

              <div class="col_full">
                <label for="login-form-username">Phone Number:</label>
                <%= f.text_field :phone_number, class: "form-control not-dark", autofocus: true, placeholder: "Enter Contact Number" %>
              </div>

              <div class="col_full">
                <label for="login-form-username">Website:</label>
                <%= f.text_field :website, class: "form-control not-dark", autofocus: true, placeholder: "Enter your business's website" %>
              </div>

              <div class="col_full">
                <label for="login-form-username">Street Address:</label>
                <%= f.text_field :street_address, class: "form-control not-dark", autofocus: true, placeholder: "Business's Street Address" %>
              </div>

              <div class="col_full">
                <label for="login-form-username">State:</label>
                <%= f.text_field :state, class: "form-control not-dark", autofocus: true, placeholder: "State" %>
              </div>

              <div class="col_full">
                <label for="login-form-username">City:</label>
                <%= f.text_field :city, class: "form-control not-dark", autofocus: true, placeholder: "City" %>
              </div>

              <div class="col_full">
                <label for="login-form-username">Industry Type:</label>
                <div id="dv_industry_type">
                  <%= f.select :industry_type, options_for_select(User::INDUSTRY_TYPE), {prompt: "---Select Industry Type---"},class: "form-control not-dark", autofocus: true %>
                </div>
              </div>

              <div class="checkbox">
                <label>
                  <%= f.check_box :is_agree, class: "styled" %>
                  I agree to <a href="#" style="color: #ff9000;">Cardless Payment, Privacy Policy</a>
                </label>
              </div>

              <div class="col_full nobottommargin">
                <%= f.submit "Register", class: "button button-3d button-blue nomargin", id: "login-form-submit" %>
                <a href="<%= new_user_session_path %>" class="fright" style="color: #ff9000;">Already Registered?</a>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row center dark"><small>Copyrights &copy; All Rights Reserved by Cardless PayTech.</small></div>
      </div>
    </div>
  </div>

</section>
<script type="text/javascript">

  var signup_form_validator = $(".signup_form_validator").validate({
    ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
    errorClass: 'validation-error-label',
    successClass: 'validation-valid-label',
    highlight: function(element, errorClass) {
        $(element).removeClass(errorClass);
    },
    unhighlight: function(element, errorClass) {
        $(element).removeClass(errorClass);
    },

    // Different components require proper error label placement
    errorPlacement: function(error, element) {

        // Styled checkboxes, radios, bootstrap switch
        if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container') ) {
            if(element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                error.appendTo( element.parent().parent().parent().parent() );
            }
             else {
                error.appendTo( element.parent().parent().parent().parent().parent() );
            }
        }

        // Unstyled checkboxes, radios
        else if (element.parents('div').hasClass('checkbox') || element.parents('div').hasClass('radio')) {
            error.appendTo( element.parent().parent().parent() );
        }

        // Input with icons and Select2
        else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
            error.appendTo( element.parent() );
        }

        // Inline checkboxes, radios
        else if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
            error.appendTo( element.parent().parent() );
        }

        // Input group, styled file input
        else if (element.parent().hasClass('uploader') || element.parents().hasClass('input-group')) {
            error.appendTo( element.parent().parent() );
        }

        else {
            error.insertAfter(element);
        }
    },
    validClass: "validation-valid-label",
    rules: {
      "user[email]": {
        required: true,
        email: true,
      },
      "user[password]": {
        required: true,
        minlength: 6,
      },
      "user[password_confirmation]": {
        required: true,
        minlength: 6,
        equalTo: "#user_signup_password"
      },
      "user[first_name]": {
        required: true,
      },
      "user[last_name]": {
        required: true,
      },
      "user[business_name]": {
        required: true,
      },
      "user[phone_number]": {
        required: true,
        digits: true,
        minlength: 10,
        maxlength: 12,
      },
      "user[website]": {
        required: true,
        url: true,
      },
      "user[street_address]": {
        required: true,
      },
      "user[state]": {
        required: true,
      },
      "user[city]": {
        required: true,
      },
      "user[industry_type]": {
        required: true,
      },
    },
    messages: {
      "user[email]": {
        required: "Email is required.",
      },
      "user[password]": {
        required: "Password is required.",
      },
      "user[password_confirmation]": {
        required: "Password confirmation is required.",
      },
      "user[first_name]": {
        required: "First name is required.",
      },
      "user[last_name]": {
        required: "Last name is required.",
      },
      "user[business_name]": {
        required: "Business name is required.",
      },
      "user[phone_number]": {
        required: "Phone number is required.",
      },
      "user[website]": {
        required: "Website is required.",
      },
      "user[street_address]": {
        required: "Street address is required.",
      },
      "user[state]": {
        required: "State is required.",
      },
      "user[city]": {
        required: "City is required.",
      },
      "user[industry_type]": {
        required: "Industry type is required.",
      },
    }
  });

  $("#user_industry_type").change(function(){
    var val = this.value;

    if(val == "Other")
    {
      $("#dv_industry_type").html("<%= escape_javascript(text_field_tag 'user[industry_type]', '', class: 'form-control not-dark', placeholder: 'Enter Industry Type') %>");
    }
  });
</script>
