<% @main_title = "Change Password" %>
<% @span_title = "Change password details" %>
<%= render "admin/shared/page_header" %>
<div class="page-container">
  <div class="page-content">
    <div class="content-wrapper">
      <%= render "layouts/flash_messages" %>
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h5 class="panel-title">Change Password</h5>
          <div class="heading-elements">
          </div>
        </div>
        <div class="panel-body">
          <%= form_for(current_user, url: admin_update_password_path, html: { class: "form-horizontal password_form_validator" }) do |f| %>
            <fieldset class="content-group">
              <div class="row">
                <div class="form-group">
                  <div class="col-md-4">
                    <%= f.password_field :current_password, autofocus: true, class: "form-control", placeholder: "Current Password" %>
                  </div>
                  <div class="col-md-4">
                    <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "New Password", id: "user_new_password" %>
                  </div>
                  <div class="col-md-4">
                    <%= f.password_field :password_confirmation, autofocus: true, class: "form-control", placeholder: "Confirm Password" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <div class="col-md-4">
                    <%= f.submit "Change Password", class: "btn btn-primary" %>
                  </div>
                </div>
              </div>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  
var password_form_validator = $(".password_form_validator").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function(element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function(element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function(error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container') ) {
                if(element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo( element.parent().parent().parent().parent() );
                }
                 else {
                    error.appendTo( element.parent().parent().parent().parent().parent() );
                }
            }

            // Unstyled checkboxes, radios
            else if (element.parents('div').hasClass('checkbox') || element.parents('div').hasClass('radio')) {
                error.appendTo( element.parent().parent().parent() );
            }

            // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo( element.parent() );
            }

            // Inline checkboxes, radios
            else if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                error.appendTo( element.parent().parent() );
            }

            // Input group, styled file input
            else if (element.parent().hasClass('uploader') || element.parents().hasClass('input-group')) {
                error.appendTo( element.parent().parent() );
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        rules: {
          "user[current_password]": {
            required: true,
            minlength: 6,
          },
          "user[password]": {
            required: true,
            minlength: 6,
          },
          "user[password_confirmation]": {
            required: true,
            minlength: 6,
            equalTo: "#user_new_password",
          },
        },
        messages: {
          "user[current_password]": {
            required: "Current password is required.",
          },
          "user[password]": {
            required: "New password is required.",
          },
          "user[password_confirmation]": {
            required: "Password confirmation is required.",
          },
        }
    });

</script>