<table class="table check_datatable">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Date</th>
			<th>Memo1</th>
			<th>Name</th>
			<th>Company</th>
			<th>Amount</th>
			<th class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @checks.each do |check| %>
		<tr>
			<td><%= check_box_tag "check_id", check.id, false,id: "check_#{check.id}", class: "check_id" %></td>
			<td><%= check.date %></td>
			<td><%= check.memo1 %></td>
			<td><%= check.account_holder_name %></td>
			<td><%= check.pay_to_the_order_of %></td>
			<td><%= number_to_currency(check.amount, precision: 2) %></td>
			<!-- <td><span class="label label-success">Active</span></td> -->
			<td class="text-center">
				<ul class="icons-list">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-menu9"></i>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="<%= edit_admin_check_path(check) %>"><i class="icon-pencil"></i> Edit</a></li>
							<li><%= link_to "Print", admin_generate_check_path(id: check.id), target: "_blank" %></li>
							<li><a href="<%= admin_check_path(check) %>" data-confirm="Are you sure you want to delete this record?" data-method="delete"><i class="icon-trash"></i> Delete</a></li>
						</ul>
					</li>
				</ul>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= form_tag admin_generate_check_path, method: :get, id: "form_print_checks" do %>
	<%= hidden_field_tag "id", "",id: "form_check_id" %>
<% end %>

<script type="text/javascript">

	$(".check_datatable").DataTable({
    "order": [],
    "displayStart": 0,
    "columnDefs": [ {
      "targets": [0, 6],
      "orderable": false,
    } ],
    dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
    language: {
      search: '<span>Filter:</span> _INPUT_',
      lengthMenu: '<span>Show:</span> _MENU_',
      paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
    },
    drawCallback: function () {
      $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
    },
    preDrawCallback: function() {
      $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
    }
  });

  $('.dataTables_filter input[type=search]').attr('placeholder','Type to filter...');

  $('.dataTables_length select').select2({
    minimumResultsForSearch: Infinity,
    width: 'auto'
  });

	$(".check_id").click(function(){
		var value = [];
		if($("#form_check_id").val() != ""){
			value = $("#form_check_id").val();
			value = JSON.parse(value);
			console.log("In IF");
		}
		if(this.checked == true)
		{
			value.push(this.value);
			$("#form_check_id").val(JSON.stringify(value));
		}
		else
		{
			alert("Clicked Not");
		}
	});
</script>