<%= form_for([:admin,@check], html: { class: "form-horizontal check_form_validator" }) do |f| %>
  <fieldset class="content-group">
    <div class="row">
      <div class="form-group">
        <div class="col-md-4">
          <%= f.text_field :account_holder_name, autofocus: true, class: "form-control", placeholder: "Account Holder's Name", :data => { 'ng-model' => "check.account_holder_name" } %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :street_address, autofocus: true, class: "form-control", placeholder: "Street Address", :data => { 'ng-model' => "check.street_address" } %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :city, autofocus: true, class: "form-control", placeholder: "City", :data => { 'ng-model' => "check.city" } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-md-4">
          <%= f.text_field :state, autofocus: true, class: "form-control", placeholder: "State", :data => { 'ng-model' => "check.state" } %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :zip, autofocus: true, class: "form-control", placeholder: "Zip Code", :data => { 'ng-model' => "check.zip" } %>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-calendar"></i></span>
            <%= f.text_field :date, autofocus: true, class: "form-control datepicker", placeholder: "Enter Date", :data => { 'ng-model' => "check.date" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-md-4">
          <%= f.text_field :check_number, autofocus: true, class: "form-control", placeholder: "Checking Number", :data => { 'ng-model' => "check.check_number" } %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :pay_to_the_order_of, autofocus: true, class: "form-control", placeholder: "Pay to the Order of", :data => { 'ng-model' => "check.pay_to" } %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :amount, autofocus: true, class: "form-control", placeholder: "Enter Amount", :data => { 'ng-model' => "check.amount" } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-md-4">
          <%= f.text_field :memo1, autofocus: true, class: "form-control", placeholder: "Memo1", :data => { 'ng-model' => "check.memo1" } %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :memo2, autofocus: true, class: "form-control", placeholder: "Memo2", :data => { 'ng-model' => "check.memo2" } %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :routing_number, autofocus: true, class: "form-control", placeholder: "Routing Number", :data => { 'ng-model' => "check.routing" } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-md-4">
          <%= f.text_field :checking_account_number, autofocus: true, class: "form-control", placeholder: "Checking Account Number", :data => { 'ng-model' => "check.check_account" } %>
        </div>

        <div class="col-md-4">
        </div>

        <div class="col-md-4 text-right">
          <% if f.object.new_record? %>
            <%= f.submit "Create", class: "btn btn-primary" %>
          <% else %>
            <%= f.submit "Update", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
  
var check_form_validator = $(".check_form_validator").validate({
        ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
        errorClass: 'validation-error-label',
        successClass: 'validation-valid-label',
        highlight: function(element, errorClass) {
            $(element).removeClass(errorClass);
        },
        unhighlight: function(element, errorClass) {
            $(element).removeClass(errorClass);
        },

        // Different components require proper error label placement
        errorPlacement: function(error, element) {

            // Styled checkboxes, radios, bootstrap switch
            if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container') ) {
                if(element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo( element.parent().parent().parent().parent() );
                }
                 else {
                    error.appendTo( element.parent().parent().parent().parent().parent() );
                }
            }

            // Unstyled checkboxes, radios
            else if (element.parents('div').hasClass('checkbox') || element.parents('div').hasClass('radio')) {
                error.appendTo( element.parent().parent().parent() );
            }

            // Input with icons and Select2
            else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
                error.appendTo( element.parent() );
            }

            // Inline checkboxes, radios
            else if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                error.appendTo( element.parent().parent() );
            }

            // Input group, styled file input
            else if (element.parent().hasClass('uploader') || element.parents().hasClass('input-group')) {
                error.appendTo( element.parent().parent() );
            }

            else {
                error.insertAfter(element);
            }
        },
        validClass: "validation-valid-label",
        rules: {
          "check[account_holder_name]": {
            required: true,
          },
          "check[street_address]": {
            required: true,
          },
          "check[city]": {
            required: true,
          },
          "check[state]": {
            required: true,
          },
          "check[zip]": {
            required: true,
            digits: true,
            minlength: 5,
            maxlength: 6,
          },
          "check[date]": {
            required: true,
          },
          "check[check_number]": {
            required: true,
            digits: true,
          },
          "check[pay_to_the_order_of]": {
            required: true,
          },
          "check[amount]": {
            required: true,
            number: true,
          },
          "check[routing_number]": {
            required: true,
          },
          "check[checking_account_number]": {
            required: true,
          },
        },
        messages: {
          "check[account_holder_name]": {
            required: "Account holder name is required.",
          },
          "check[street_address]": {
            required: "Street address is required.",
          },
          "check[city]": {
            required: "City is required.",
          },
          "check[state]": {
            required: "State is required.",
          },
          "check[zip]": {
            required: "Zipcode is required.",
          },
          "check[date]": {
            required: "Date is required.",
          },
          "check[check_number]": {
            required: "Check number is required.",
          },
          "check[pay_to_the_order_of]": {
            required: "This field is required.",
          },
          "check[amount]": {
            required: "Amount is required.",
          },
          "check[routing_number]": {
            required: "Routing number is required.",
          },
          "check[checking_account_number]": {
            required: "Account number is required.",
          },
        }
    });

  $(".datepicker").datetimepicker({      
    format: 'MM-DD-YYYY',     
    //minDate : moment().millisecond(0).second(0).minute(0).hour(0),      
  });
</script>