<% checks = Check.find(@ids) %>
<% count = 0 %>
<% processed = 0 %>
<% second_page = false %>
<% if @checks.kind_of? Array %>
<% checks.each do |check| %>
	<% count = count + 1 %>
	<% processed = processed + 1 %>
	<% if count == 1 %>
		<% if second_page %>
			<table width="1100" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: -36px;">
		<% else %>
			<table width="1100" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: -45px;">
		<% end %>
	<% else %>
		<table width="1100" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: 80px;">
	<% end %>
		<tbody>
			<tr>
				<td>&nbsp;</td>
				<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td width="44%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody style="font-size:22px; line-height: 24px;">
												<tr>
													<td><%= check.account_holder_name.upcase %></td>
												</tr>
												<tr>
													<td><%= check.street_address.upcase %></td>
												</tr>
												<tr>
													<td><%= check.city.upcase %>, <%= check.state.upcase %> <%= check.zip %></td>
												</tr>
											</tbody>
										</table></td>
										<td width="40%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody style="font-size:20px; line-height: 24px;">
												<tr>
													<td align="center"><strong>WELLS FARGO BANK NA</strong></td>
												</tr>
												<tr>
													<td align="center">MAC N9301-041</td>
												</tr>
												<tr>
													<td align="center">MINNEAPOLIS MN</td>
												</tr>
											</tbody>
										</table></td>
										<td width="16%"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 5px;">
											<tbody>
												<tr>
													<td align="right" style="font-size:20px;"><strong><%= check.check_number %></strong></td>
												</tr>
												<tr>
													<td align="right">&nbsp;</td>
												</tr>
												<tr>
													<td align="right" valign="bottom" style="border-bottom:2px	solid #000;	padding-bottom:3px; font-size: 22px;"><%= check.date.strftime("%m/%d/%Y") %></td>
												</tr>
											</tbody>
										</table></td>
									</tr>
								</tbody>
							</table></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td width="82%">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tbody>
																<tr>
																	<td width="12%" style="font-size:18px;" valign="bottom">
																		<p style="margin:0;">Pay To The</p>
																		<p style="margin:0;">Order of </p>
																	</td>
																	<td width="88%" valign="bottom" style="border-bottom:2px solid #000; border-right:2px solid #000; font-weight:bold; padding-left:6%; font-size:24px; height: 55px;"><%= check.pay_to_the_order_of %></td>
																</tr>
															</tbody>
														</table>
													</td>
													<td width="3%">&nbsp;</td>
													<td width="15%" align="right" valign="bottom" style="border:2px solid #000; font-size: 24px; height: 55px; padding-right: 5px;"><strong><%= number_to_currency(check.amount) %> </strong></td>
												</tr>
											</tbody>
										</table></td>
									</tr>
									<tr>
										<td style="height: 15px;"></td>
									</tr>
									<tr>
										<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
				            <tbody>
				              <tr>
				                <td width="94%" align="left" style="border-bottom:2px solid #000; font-weight:bold; padding-left:14%; font-size:24px;"><font style="font-style: italic;">Pay Exactly</font> <span style="padding-left:10%;"><%= number_to_currency(check.amount) %> Dollars And Cents ///////////////////////////////////////////</span></td>
				                <td width="6%">&nbsp;</td>
				              </tr>
				            </tbody>
				          </table></td>
									</tr>
								</tbody>
							</table></td>
						</tr>
						<tr>
							<td style="height: 10px;"></td>
						</tr>
						<tr>
							<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td width="52%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td valign="bottom" style="font-size: 17px;">Memo</td>
													<td>&nbsp;</td>
													<td><table width="100%" border="0" cellspacing="0" cellpadding="0"  style="margin-top: 40px;">
														<tbody>
															<tr>
																<td style="padding-bottom:10px; font-size: 17px;">Customer authorization obtained: 04/04/2017</td>
															</tr>
															<tr>
																<td style="border-bottom:2px solid #000; font-size: 17px;"><%= check.memo1 %></td>
															</tr>
														</tbody>
													</table></td>
												</tr>
											</tbody>
										</table></td>
										<td width="7%">&nbsp;</td>
										<td width="41%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td align="center" style="font-size: 24px;"><strong>SIGNATURE NOT REQUIRED</strong></td>
												</tr>
												<!-- <tr>
													<td>&nbsp;</td>
												</tr> -->
												<tr>
													<td style="font-size:17px; line-height: 4px;"><p>Payment has been authorized by the depositor.</p>
														<p>Payee to hold you harmless for payment of this document.</p>
														<p>This Dcoument shall be deposited only to credit of payee.</p>
														<p>Absence of endorsement is guaranteed by payee's bank.</p></td>
													</tr>
												</tbody>
											</table></td>
										</tr>
									</tbody>
								</table></td>
							</tr>
							<tr>
								<td style="height: 7px;"></td>
							</tr>
							<tr>
								<td style="padding-left:12%; font-size:35px; font-family:'MICR Encoding'; color: black;">C001031C <span style="padding-left: 4%;">A121042882A</span> <span style="padding-left: 4%;">3141243976C</span></td>
							</tr>
						</tbody>
					</table>
				</td>
				<td>&nbsp;</td>
			</tr>
		</tbody>
	</table>
	<% if count == 3 and processed != @checks.count %>
		<% second_page = true %>
		<div style="display: block; clear: both; page-break-after: always;"></div>
		<% count = 0 %>
	<% end %>
<% end %>
<% else %>
	<table width="1100" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top: -45px;">
		<tbody>
			<tr>
				<td>&nbsp;</td>
				<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td width="44%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody style="font-size:22px; line-height: 24px;">
												<tr>
													<td><%= checks.account_holder_name %></td>
												</tr>
												<tr>
													<td><%= checks.street_address %></td>
												</tr>
												<tr>
													<td><%= checks.city %>, <%= checks.state %> <%= checks.zip %></td>
												</tr>
											</tbody>
										</table></td>
										<td width="40%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody style="font-size:20px; line-height: 24px;">
												<tr>
													<td align="center"><strong>WELLS FARGO BANK NA</strong></td>
												</tr>
												<tr>
													<td align="center">MAC N9301-041</td>
												</tr>
												<tr>
													<td align="center">MINNEAPOLIS MN</td>
												</tr>
											</tbody>
										</table></td>
										<td width="16%"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 5px;">
											<tbody>
												<tr>
													<td align="right" style="font-size:20px;"><strong><%= checks.check_number %></strong></td>
												</tr>
												<tr>
													<td align="right">&nbsp;</td>
												</tr>
												<tr>
													<td align="right" valign="bottom" style="border-bottom:2px	solid #000;	padding-bottom:3px; font-size: 22px;"><%= checks.date.strftime("%m/%d/%Y") %></td>
												</tr>
											</tbody>
										</table></td>
									</tr>
								</tbody>
							</table></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td width="82%">
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tbody>
																<tr>
																	<td width="12%" style="font-size:18px;" valign="bottom">
																		<p style="margin:0;">Pay To The</p>
																		<p style="margin:0;">Order of </p>
																	</td>
																	<td width="88%" valign="bottom" style="border-bottom:2px solid #000; border-right:2px solid #000; font-weight:bold; padding-left:6%; font-size:24px; height: 55px;"><%= checks.pay_to_the_order_of %></td>
																</tr>
															</tbody>
														</table>
													</td>
													<td width="3%">&nbsp;</td>
													<td width="15%" align="right" valign="bottom" style="border:2px solid #000; font-size: 24px; height: 55px; padding-right: 5px;"><strong><%= number_to_currency(checks.amount) %> </strong></td>
												</tr>
											</tbody>
										</table></td>
									</tr>
									<tr>
										<td style="height: 15px;"></td>
									</tr>
									<tr>
										<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
				            <tbody>
				              <tr>
				                <td width="94%" align="left" style="border-bottom:2px solid #000; font-weight:bold; padding-left:14%; font-size:24px;"><font style="font-style: italic;">Pay Exactly</font> <span style="padding-left:10%;"><%= number_to_currency(checks.amount) %> Dollars And Cents ///////////////////////////////////////////</span></td>
				                <td width="6%">&nbsp;</td>
				              </tr>
				            </tbody>
				          </table></td>
									</tr>
								</tbody>
							</table></td>
						</tr>
						<tr>
							<td style="height: 10px;"></td>
						</tr>
						<tr>
							<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tbody>
									<tr>
										<td width="52%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td valign="bottom" style="font-size: 17px;">Memo</td>
													<td>&nbsp;</td>
													<td><table width="100%" border="0" cellspacing="0" cellpadding="0"  style="margin-top: 40px;">
														<tbody>
															<tr>
																<td style="padding-bottom:10px; font-size: 17px;">Customer authorization obtained: 04/04/2017</td>
															</tr>
															<tr>
																<td style="border-bottom:2px solid #000; font-size: 17px;"><%= checks.memo1 %></td>
															</tr>
														</tbody>
													</table></td>
												</tr>
											</tbody>
										</table></td>
										<td width="7%">&nbsp;</td>
										<td width="41%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr>
													<td align="center" style="font-size: 24px;"><strong>SIGNATURE NOT REQUIRED</strong></td>
												</tr>
												<!-- <tr>
													<td>&nbsp;</td>
												</tr> -->
												<tr>
													<td style="font-size:17px; line-height: 4px;"><p>Payment has been authorized by the depositor.</p>
														<p>Payee to hold you harmless for payment of this document.</p>
														<p>This Dcoument shall be deposited only to credit of payee.</p>
														<p>Absence of endorsement is guaranteed by payee's bank.</p></td>
													</tr>
												</tbody>
											</table></td>
										</tr>
									</tbody>
								</table></td>
							</tr>
							<tr>
								<td style="height: 7px;"></td>
							</tr>
							<tr>
								<td style="padding-left:12%; font-size:35px; font-family:'MICR Encoding'; color: black;">C001031C <span style="padding-left: 4%;">A121042882A</span> <span style="padding-left: 4%;">3141243976C</span></td>
							</tr>
						</tbody>
					</table>
				</td>
				<td>&nbsp;</td>
			</tr>
		</tbody>
	</table>
<% end %>
