<% @main_title = "Print Check" %>
<% @span_title = "Search and Print check information" %>
<%= render "admin/shared/page_header" %>
<div class="page-container">
	<div class="page-content">
		<div class="content-wrapper">
			<%= render "layouts/flash_messages" %>
			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">Checks</h5>
					<div class="heading-elements">
					</div>
				</div>
				<div class="panel-body">
					<%= render "search_checks_form" %>
					<div id="check_list">
						<%= render "check_list" %>
					</div>
				</div>
			</div>
		</div>
	</div>
