<% @main_title = "Input Check" %>
<% @span_title = "Create new check information" %>
<%= render "admin/shared/page_header" %>
<div class="page-container">
	<div class="page-content">
		<div class="content-wrapper" ng-app="mainApp" ng-controller="checkController">
			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">Enter Check Details</h5>
					<div class="heading-elements">

					</div>
				</div>	
				<div class="panel-body">
					<%= render "form" %>
				</div>
			</div>

			<div class="panel panel-flat">
				<div class="panel-body">
					<div class="row">
						<div class="cheque col-xs-12">
							<div class="cheque_content col-xs-12">
								<div class="col-xs-5 payee_detail text-left text-uppercase">
									<label class="col-xs-12 nopadding_lr">{{check.account_holder_name}}</label>
									<label class="col-xs-12 nopadding_lr">{{check.street_address}}</label>
									<label class="col-xs-12 nopadding_lr">{{check.fullAddress()}}</label>
								</div>

								<div class="col-xs-5 bank_detail text-center text-uppercase">
									<label class="col-xs-12 nopadding_lr"><strong>Wells Fargo Bank Na</strong></label>
									<label class="col-xs-12 nopadding_lr">Mac N9301-041</label>
									<label class="col-xs-12 nopadding_lr">Minneapolis Mn</label>
								</div>

								<div class="col-xs-2 cheque_number text-right">
									<label>{{check.check_number}}</label>
								</div>

								<div class="col-xs-12 cheque_date text-right">
									<label>{{check.date}}</label>
								</div>

								<div class="col-xs-12 nopadding_lr">
									<div class="col-xs-10 nopadding_lr check_amount_words">
										<label class="col-xs-2">
											Pay to the <br>
											Order of
										</label>

										<p class="col-xs-10">
											<strong>
												{{check.pay_to}}
											</strong>
										</p>

									</div>

									<div class="col-xs-2 check_amount text-right">
										<label class="col-xs-12">${{check.amount}}</label>
									</div>

									<div class="col-xs-12 check_amount_words">
										<p class="col-xs-11">
											<strong>Pay exactly ${{check.amount}} Dollors and Cents ///////////////////////////////</strong>
										</p>
									</div>
								</div>

								<div class="col-xs-12 nopadding_lr">
									<div class="col-xs-6 memo">
										<label class="col-xs-2">Memo</label>

										<div class="col-xs-10 nopadding_lr">
											<p class="col-xs-12 nopadding_lr">Customer authorization obtained: 04/04/2017</p>
											<p class="col-xs-12 nopadding_lr">{{check.memo1}}</p>
										</div>
									</div>

									<div class="col-xs-5 col-xs-offset-1 instruction nopadding_lr">
										<h4 class="col-xs-12 text-center text-uppercase">signature not required</h4>

										<p class="col-xs-12 nopadding_lr">Payment has been authorised by depositor.</p>
										<p class="col-xs-12 nopadding_lr">Payee to hold you harmless for payment of this document.</p>
										<p class="col-xs-12 nopadding_lr">This document shall be deposited only to credit of payee.</p>
										<p class="col-xs-12 nopadding_lr">Absence of endorsement is guaranteed by payee's bank.</p>
									</div>
								</div>

								<div class="col-xs-10 full_number">
									<label class="col-xs-4 text-center">c001031c</label>
									<label class="col-xs-4 text-center">a121042882a</label>
									<label class="col-xs-4 text-center">3141243976c</label>
								</div>

							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
