<% @main_title = "Payment Link" %>
<% @span_title = "Generate Payment Link for Customer" %>
<%= render "admin/shared/page_header" %>

<div class="page-container">
	<div class="page-content">
		<div class="content-wrapper">
			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">Enter Check Details</h5>
					<div class="heading-elements">
						<!-- <ul class="icons-list">
							<li><a data-action="collapse"></a></li>
							<li><a data-action="reload"></a></li>
							<li><a data-action="close"></a></li>
						</ul> -->
					</div>
				</div>

				<div class="panel-body">
					<%= form_tag create_payment_link_admin_checks_path, remote: true do %>
						<fieldset class="content-group">
					    <div class="row">
					      <div class="form-group">
					        <div class="col-md-6">
					          <%= text_field_tag "amount", "",autofocus: true, class: "form-control", placeholder: "Enter $ Amount or leave blank" %>
					        </div>
					      </div>
					    </div>
					    <br />
					    <div class="row">
					      <div class="form-group">
					        <div class="col-md-6">
					          <%= text_field_tag "transaction_fee", "", autofocus: true, class: "form-control", placeholder: "Enter Transaction Fee or leave blank" %>
					        </div>
					      </div>
					    </div>
					    <br />
					    <div class="row">
					      <div class="form-group">
					        <div class="col-md-6">
					          <%= check_box_tag "basic_verification", autofocus: true, class: "form-control" %>
					          Basic Verification
					        </div>
					      </div>
					    </div>
					    <br />
					    <div class="row">
					      <div class="form-group">
					        <div class="col-md-6">
					          <%= text_field_tag "memo", "", autofocus: true, class: "form-control", placeholder: "Memo" %>
					        </div>
					      </div>
					    </div>
					    <br />
					    <div class="row">
					      <div class="form-group">
					        <div class="col-md-6">
					          <%= text_field_tag "pay_to", "", autofocus: true, class: "form-control", placeholder: "Pay to the order of" %>
					        </div>
					      </div>
					    </div>
					    <br />
					    <div id="generated_link" %>
						    <div class="row">
						      <div class="form-group">
						        <div class="col-md-6">
						          <%= submit_tag "Generate Link", class: "btn btn-primary" %>
						        </div>
						      </div>
						    </div>
						  </div>
					  </fieldset>
					<% end %>
				</div>
			</div>
		</div>
	</div>
