<section id="content">

  <div class="content-wrap " style="padding-top: 30px;">

    <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>

    <div class="section nobg full-screen nopadding nomargin">
      <div class="container vertical-middle divcenter clearfix">

        <div class="row center">
          <a href="<%= root_path %>"><%= image_tag "CP-logo/cp-126.png", alt: "Cardless Logo" %></a>
        </div>

        <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px;">
          <div class="panel-body" style="padding: 40px;">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "forgot_form_validator" }) do |f| %>
              <h3>Forgot your password?</h3>

              <div class="col_full">
                <label for="login-form-username">Email:</label>
                <%= f.email_field :email, id: "login-form-username", class: "form-control not-dark", autofocus: true %>
              </div>

              <div class="col_full nobottommargin">
                <%= f.submit "Reset Password", class: "button button-3d button-black nomargin", id: "login-form-submit" %>
                <a href="<%= new_user_session_path %>" class="fright">Log In?</a>
              </div>
              
            <% end %>

            
          </div>
        </div>

        <div class="row center dark"><small>Copyrights &copy; All Rights Reserved by Cardless PayTech.</small></div>

      </div>
    </div>

  </div>

</section>	

<script type="text/javascript">
  
  var forgot_form_validator = $(".forgot_form_validator").validate({
    ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
    errorClass: 'validation-error-label',
    successClass: 'validation-valid-label',
    highlight: function(element, errorClass) {
        $(element).removeClass(errorClass);
    },
    unhighlight: function(element, errorClass) {
        $(element).removeClass(errorClass);
    },

    // Different components require proper error label placement
    errorPlacement: function(error, element) {

        // Styled checkboxes, radios, bootstrap switch
        if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container') ) {
            if(element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                error.appendTo( element.parent().parent().parent().parent() );
            }
             else {
                error.appendTo( element.parent().parent().parent().parent().parent() );
            }
        }

        // Unstyled checkboxes, radios
        else if (element.parents('div').hasClass('checkbox') || element.parents('div').hasClass('radio')) {
            error.appendTo( element.parent().parent().parent() );
        }

        // Input with icons and Select2
        else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
            error.appendTo( element.parent() );
        }

        // Inline checkboxes, radios
        else if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
            error.appendTo( element.parent().parent() );
        }

        // Input group, styled file input
        else if (element.parent().hasClass('uploader') || element.parents().hasClass('input-group')) {
            error.appendTo( element.parent().parent() );
        }

        else {
            error.insertAfter(element);
        }
    },
    validClass: "validation-valid-label",
    rules: {
      "user[email]": {
        required: true,
        email: true,
      },
    },
    messages: {
      "user[email]": {
        required: "Email is required.",
      },
    }
  });

</script>