<html>
<head>
	<title>BetterCheck Verification Form (sample)</title>
	<link rel="stylesheet" type="text/css" href="http://bettercheck.com/styles/bettercheck.css">
</head>
<body>
	<form method="post" action="https://bettercheck.com/cgi-bin/weblink.cgi" name="weblink">
		<input type="hidden" name="weblinkagentid" value="sample">
		<input type="hidden" name="weblinkid" value="JKf988#$jurio*jkjf89739FP69">
		<input type="hidden" name="resultformat" value="xml">
		<input type="hidden" name="user1" value="userdefined1">
		<input type="hidden" name="user2" value="userdefined2">

<!-- Other result formats avail: text, xml, html

  <input type="hidden" name="resultformat" value="html">
  <input type="hidden" name="resultformat" value="text">

-->
<table border="0" cellpadding="2" cellspacing="1" width="300">
	<tr>
		<td><font face="Verdana" color="#000000" size="1">
			Routing number:
		</font>
	</td>
	<td>
		<input type="text" name="routing"  size="20"/>
	</td>
</tr>
<tr>
	<td><font face="Verdana" color="#000000" size="1">
		Account number:
	</font>
</td>
<td>
	<input type="text" name="acctnum"  size="20"/>
</td>
</tr>
<tr>
	<td><font face="Verdana" color="#000000" size="1">
		Amount:
	</td>
	<td>
		<input type="text" name="amount" size="16"/>
	</td>
</tr>
<tr>
	<td><font face="Verdana" color="#000000" size="1">
		Check # (Optional):
	</td>
	<td>
		<input type="text" name="checknum" size="16"/>
	</td>
</tr>
</table>
<p />
<input type="hidden" name="op" value="process" />
<input type="submit" name="submit" value="Next >> " />
<hr>
<p align="center">
	<font face="Verdana" color="#F41200" size="1">BetterCheck™ is a trademark
		of yourfavorite.com. 
		<br />
		©Copyright 2003-2012 yourfavorite.com, All rights reserved.
	</font>
</p>
</body>
</html>
