<%#= link_to "Login", new_user_session_path unless user_signed_in? %>
<%#= link_to "Logout", destroy_user_session_path, method: :delete if user_signed_in? %>

<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>

			<div id="pricing" class="heading-block title-center page-section">
				<h2>Smart Pricing</h2>
				<span>Flexible &amp; Easy Pricing for wide Audience Groups</span>
			</div>

			<div class="pricing bottommargin clearfix">

				<div class="col-md-4" data-animate="fadeInLeft">

					<div class="pricing-box">
						<div class="pricing-title">
							<h3>Business</h3>
						</div>
						<div class="pricing-price">
							<span class="price-unit">&#36;</span>99.99<span class="price-tenure">/mo</span>
						</div>
						<div class="pricing-features">
							<ul>
								<li><strong>Unlimited</strong> Basic Verification</li>
								<li>Unlimited Checks</li>
								<li>Create Invoice Payby Check link</li>
								<li>Phone Support</li>
								<li>Email Support</li>
								<li>No Enhanced Verification</li>
								<li><strong>$6</strong> Enhanced Verification</li>
								<li>Verify your client has sufficient funds in their account</li> 
							</ul>
						</div>
						<div class="pricing-action">
							<a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
						</div>
					</div>

				</div>

				<div class="col-md-4" data-animate="fadeInDown"  data-delay="250">

					<div class="pricing-box best-price">
						<div class="pricing-title">
							<h3>Business Premium</h3>
							<span>Most Popular</span>
						</div>
						<div class="pricing-price">
							<span class="price-unit">&#36;</span>199.99<span class="price-tenure">/mo</span>
						</div>
						<div class="pricing-features">
							<ul>
								<li><strong>Unlimited</strong> Basic Verification</li>
								<li>Unlimited Checks</li>
								<li>Create Invoice Payby Check link</li>
								<li>Phone Support</li>
								<li>Email Support</li>
								<li><strong>25</strong> Enhanced Verification</li>
								<li><strong>$4</strong> Enhanced Verification</li>
								<li>Verify your client has sufficient funds in their account</li>
								</ul>
							</div>
							<div class="pricing-action">
								<a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
							</div>
						</div>

					</div>

					<div class="col-md-4" data-animate="fadeInUp" data-delay="500">

						<div class="pricing-box">
							<div class="pricing-title">
								<h3>Enterprise</h3>
							</div>
							<div class="pricing-price">
								<span class="price-unit">&#36;</span>249.99<span class="price-tenure">/mo</span>
							</div>
							<div class="pricing-features">
								<ul>
									<li><strong>Unlimited</strong> Basic Verification</li>
									<li>Unlimited Checks</li>
									<li>Create Invoice Payby Check link</li>
									<li>Phone Support</li>
									<li>Email Support</li>
									<li><strong>50</strong> Enhanced Verification</li>
									<li><strong>$3</strong> Enhanced Verification</li>
									<li>Verify your client has sufficient funds in their account</li>
								</ul>
							</div>
							<div class="pricing-action">
								<a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
							</div>
						</div>

					</div>

				</div>

				<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>
			</div>
		</div>
	</section>