<header id="header" class="full-header">
	<div id="header-wrap">
		<div class="container clearfix">
			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
			<div id="logo">
				<a href="index.html" class="standard-logo" data-dark-logo="logo-dark.png"><%= image_tag "CP-logo/cp-250.png", alt: "Cardless Logo" %></a>
				<a href="index.html" class="retina-logo" data-dark-logo="logo-dark@2x.png"><%= image_tag "CP-logo/cp-250.png", alt: "Cardless Logo" %></a>
			</div>
		
			<nav id="primary-menu">
				<ul class="one-page-menu">
					<li class="current"><a href="index.html"><div>Services</div></a>
						<ul>
							<li><a href="#"><div>Check by Phone</div></a></li>
							<li><a href="#"><div>Check Verification</div></a></li>
							<li><a href="#"><div>Credit Card Processing</div></a></li>
							<li><a href="#"><div>Offshore Credit Card Processing</div></a></li>
						</ul>
					</li>
					<li><a href="#"><div>How it works</div></a>
					</li>
					<li><a href="#" data-href="#pricing"><div>Pricing</div></a>
					</li>
					<li><a href="<%= new_user_session_path %>"><div>Log In</div></a>
					</li>
					<li><a href="<%= new_user_registration_path %>"><div>Sign Up</div></a>
					</li>
				</ul>

				<div id="top-search">
					<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
					<form action="search.html" method="get">
						<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
					</form>
				</div>
			</nav>
		</div>
	</div>
</header>