@font-face{
	font-family:micrenc sans-serif;
	src: url(asset_path('micrenc.ttf'));
}

.nopadding_lr{
	padding-left:0;
	padding-right:0;
}

.cheque{
	background-image:url(asset_path('background.jpg'));
	padding:15px;
}

.cheque_content{
	height:auto;
	padding:15px 15px 0;
	border: 16px solid transparent;
    border-image: url(asset_path('border-img01.png')) 16 round;
}

.payee_detail{
	margin:0 auto;
}

.payee_detail label{
	font-size:20px;
	font-weight:normal;
	margin:0;
	line-height:1;
}

.bank_detail label{
	font-size:18px;
	font-weight:normal;
	margin:0;
	line-height:1.2;
}

.cheque_number label{
	font-size:22px;
	line-height:0;
}

.cheque_date label{
	width:150px;
	font-size:22px;
	font-weight:normal;
	border-bottom:2px solid #000;
}

.check_amount_words label{
	font-size:18px;
	font-weight:normal;
	line-height:1.1;
	text-transform:capitalize;
}

.check_amount_words p{
	border-bottom:2px solid #000;
	font-size:22px;
	padding-top:3px;
}

.check_amount label{
	border:1px solid #000;
	font-size:20px;
	padding:5px 5px 0;
}

.memo{
	margin-top:50px;
}

.memo label{
	font-weight:normal;
	font-size:18px;
	margin-top:28px;
	padding-bottom:0;
	margin-bottom:0;
}

.memo p{
	font-weight:normal;
	font-size:18px;
	margin:0;
}

.memo p:last-child{
	border-bottom:2px solid #000;
}

.instruction h4{
	margin:0;
}

.instruction p{
	margin:0;
}

.full_number label{
	font-family:micrenc sans-serif;
	font-size:40px;
	margin-top:25px;
	line-height:0.5;
	margin-bottom:0;
}