<section id="content">

  <div class="content-wrap " style="padding-top: 30px;">

    <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>

    <div class="section nobg full-screen nopadding nomargin">
      <div class="container vertical-middle divcenter clearfix">

        <div class="row center">
          <a href="<%= root_path %>"><%= image_tag "CP-logo/cp-126.png", alt: "Cardless Logo" %></a>
        </div>

        <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px;">
          <div class="panel-body" style="padding: 40px;">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "nobottommargin login_form_validator", id: "login-form"}) do |f| %>
              <h3>Login to your Account</h3>

              <div class="col_full">
                <label for="login-form-username">Email:</label>
                <%= f.email_field :email, id: "login-form-username", class: "form-control not-dark", autofocus: true %>
              </div>

              <div class="col_full">
                <label for="login-form-password">Password:</label>
                <%= f.password_field :password, id: "login-form-password", class: "form-control not-dark", autocomplete: "off" %>
              </div>

              <div class="col_full nobottommargin">
                <%= f.submit "Login", class: "button button-3d button-blue nomargin", id: "login-form-submit" %>
                <a href="<%= new_user_password_path %>" class="fright" style="color: #ff9000;">Forgot Password?</a>
              </div>
              <div class="col_full nobottommargin" style="margin-top: -20px;">
                <a href="<%= new_user_registration_path %>" class="fright" style="color: #ff9000;">New User?</a>
              </div>
            <% end %>

            <div class="line line-sm"></div>

            <div class="center">
              <h4 style="margin-bottom: 15px;">or Login with:</h4>
              <a href="#" class="button button-rounded si-facebook si-colored">Facebook</a>
              <span class="hidden-xs">or</span>
              <a href="#" class="button button-rounded si-twitter si-colored">Twitter</a>
            </div>
          </div>
        </div>

        <div class="row center dark"><small>Copyrights &copy; All Rights Reserved by Cardless PayTech.</small></div>

      </div>
    </div>

  </div>

</section>

<script type="text/javascript">
  
var login_form_validator = $(".login_form_validator").validate({
    ignore: 'input[type=hidden], .select2-search__field', // ignore hidden fields
    errorClass: 'validation-error-label',
    successClass: 'validation-valid-label',
    highlight: function(element, errorClass) {
        $(element).removeClass(errorClass);
    },
    unhighlight: function(element, errorClass) {
        $(element).removeClass(errorClass);
    },

    // Different components require proper error label placement
    errorPlacement: function(error, element) {

        // Styled checkboxes, radios, bootstrap switch
        if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container') ) {
            if(element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                error.appendTo( element.parent().parent().parent().parent() );
            }
             else {
                error.appendTo( element.parent().parent().parent().parent().parent() );
            }
        }

        // Unstyled checkboxes, radios
        else if (element.parents('div').hasClass('checkbox') || element.parents('div').hasClass('radio')) {
            error.appendTo( element.parent().parent().parent() );
        }

        // Input with icons and Select2
        else if (element.parents('div').hasClass('has-feedback') || element.hasClass('select2-hidden-accessible')) {
            error.appendTo( element.parent() );
        }

        // Inline checkboxes, radios
        else if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
            error.appendTo( element.parent().parent() );
        }

        // Input group, styled file input
        else if (element.parent().hasClass('uploader') || element.parents().hasClass('input-group')) {
            error.appendTo( element.parent().parent() );
        }

        else {
            error.insertAfter(element);
        }
    },
    validClass: "validation-valid-label",
    rules: {
      "user[email]": {
        required: true,
        email: true,
      },
      "user[password]": {
        required: true,
        minlength: 6,
      },
    },
    messages: {
      "user[email]": {
        required: "Email is required.",
      },
      "user[password]": {
        required: "Password is required.",
      },
    }
});

</script>