<%= form_for(@check, url: update_check_path) do |f| %>
  <%= f.hidden_field :id %>
	<div class="field">
    <%= f.label :account_holder_name %><br />
    <%= f.text_field :account_holder_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_field :date, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :check_number %><br />
    <%= f.text_field :check_number, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :pay_to_the_order_of %><br />
    <%= f.text_field :pay_to_the_order_of, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :memo1 %><br />
    <%= f.text_field :memo1, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :memo2 %><br />
    <%= f.text_field :memo2, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :routing_number %><br />
    <%= f.text_field :routing_number, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :checking_account_number %><br />
    <%= f.text_field :checking_account_number, autofocus: true %>
  </div>
  <div class="actions">
  	<% if f.object.new_record? %>
    	<%= f.submit "Create" %>
    <% else %>
    	<%= f.submit "Update" %>
    <% end %>
  </div>
<% end %>