<table class="table report_datatable">
	<thead>
		<tr>
			<th>Date</th>
			<th>Memo1</th>
			<th>Name</th>
			<th>Company</th>
			<th>Amount</th>
			<% unless params[:controller] == "reports" %>
			<th class="text-center">Actions</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @checks.each do |check| %>
		<tr>
			
			<td><%= check.date %></td>
			<td><%= check.memo1 %></td>
			<td><%= check.account_holder_name %></td>
			<td><%= check.pay_to_the_order_of %></td>
			<td><%= number_to_currency(check.amount, precision: 2) %></td>
			<% unless params[:controller] == "reports" %>
			<td class="text-center"></td>
			<% end %>
			
		</tr>
		<% end %>
	</tbody>
</table>
<script type="text/javascript">
	$(".report_datatable").DataTable({
    "order": [],
    "displayStart": 0,
    "columnDefs": [ {
      "targets": [5],
      "orderable": false,
    } ],
    dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
    language: {
      search: '<span>Filter:</span> _INPUT_',
      lengthMenu: '<span>Show:</span> _MENU_',
      paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
    },
    drawCallback: function () {
      $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
    },
    preDrawCallback: function() {
      $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
    }
  });

  $('.dataTables_filter input[type=search]').attr('placeholder','Type to filter...');

  $('.dataTables_length select').select2({
    minimumResultsForSearch: Infinity,
    width: 'auto'
  });
</script>