<%= form_tag search_check_admin_checks_path, remote: true, class: "form-horizontal" do %>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-3">
				<div class="form-group">
			    <%= label_tag "Month" %>
			    <%= select_tag "month", options_from_collection_for_select(Check::MONTHS, :first, :last), style: "width: 150px;", :include_blank => "--Select Month--" ,autofocus: true, class: "form-control" %>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<%= label_tag "From Date" %>
    			<%= text_field_tag "from_date", "",style: "width: 150px;", autofocus: true, class: "form-control from_date" %>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<%= label_tag "To Date" %>
    			<%= text_field_tag "to_date", "",style: "width: 150px;", autofocus: true, class: "form-control to_date" %>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<%= submit_tag "Search", class: "btn btn-primary" %>
				</div>
			</div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
	$(".from_date").datetimepicker({      
	    format: 'MM-DD-YYYY',     
	    //minDate : moment().millisecond(0).second(0).minute(0).hour(0),      
	  });
	$(".to_date").datetimepicker({      
	    format: 'MM-DD-YYYY',     
	    //minDate : moment().millisecond(0).second(0).minute(0).hour(0),      
	  });
</script>