/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require icomoon_styles
 *= require font-awesome
 *= require admin/bootstrap
 *= require admin/core
 *= require admin/components
 *= require admin/colors
 *= require admin/bootstrap-datetimepicker-4.17.45
 *= require admin/style_check
 *= require_self
 * require_tree .

 */

 .check_image{
 	background-image: url(asset_path('check.jpeg'));
 	background-repeat: no-repeat;
 	height: 500px;
 	width: 100%;
 	background-position:50% 50%;
 }

 .check_image #account_holder_name{
 	font-size: 18px;
 	margin-left: 75px;
 	margin-top: 30px;
 }