<% @main_title = "Subscriptions" %>
<% @span_title = "Listing all Subscriptions" %>
<%= render "admin/shared/page_header" %>
<div class="page-container">
	<div class="page-content">
		<div class="content-wrapper">
			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">Subscriptions</h5>
					<div class="heading-elements">
					</div>
				</div>
				<div class="panel-body">
					<table class="table subscription_datatable">
						<thead>
							<tr>
								<th>Plan Name</th>
								<th>Amount</th>
								<th>Is Yearly</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							<% @subscriptions.each do |subscription| %>
							<tr>
								<td><%= subscription.try(:plan).try(:name) %></td>
								<td><%= subscription.try(:plan).try(:amount) %></td>
								<td><%= subscription.is_yearly %></td>
								<td class="text-center">
								</td>
							</tr>
							<% end if @subscriptions.present? %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
	$(".subscription_datatable").DataTable({
    "order": [],
    "displayStart": 0,
    "columnDefs": [ {
      "targets": [2, 3],
      "orderable": false,
    } ],
    dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
    language: {
      search: '<span>Filter:</span> _INPUT_',
      lengthMenu: '<span>Show:</span> _MENU_',
      paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
    },
    drawCallback: function () {
      $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
    },
    preDrawCallback: function() {
      $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
    }
  });

  $('.dataTables_filter input[type=search]').attr('placeholder','Type to filter...');

  $('.dataTables_length select').select2({
    minimumResultsForSearch: Infinity,
    width: 'auto'
  });
</script>