<% @main_title = "Subscription" %>
<% @span_title = "Subscripe for a Plan" %>
<%= render "admin/shared/page_header" %>
<div class="page-container">
	<div class="page-content">
		<div class="content-wrapper">
			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">Enter Card Details</h5>
					<div class="heading-elements">
						<!-- <ul class="icons-list">
							<li><a data-action="collapse"></a></li>
							<li><a data-action="reload"></a></li>
							<li><a data-action="close"></a></li>
						</ul> -->
					</div>
				</div>

				<div class="panel-body">

					<%= form_tag admin_subscriptions_path, class: "form-horizontal" do %>
						<% if flash[:error].present? %>
				      <div id="error_explanation">
				        <p><%= flash[:error] %></p>
				      </div>
				    <% end %>
					  <div class="form-group">
					  	<div class="col-md-4">
					  		<%= select_tag "plan", options_from_collection_for_select(@plans, :first, :second), class: "form-control", id: "plan_select" %>
					  	</div>
					  </div>
					  <div class="form-group">
					  	<div class="col-md-4">
					  		<%= text_field_tag "card", "", class: "form-control", placeholder: "Enter your 16 digits card number" %>
					  	</div>
					  </div>
					  <div class="form-group">
					  	<div class="col-md-4">
					  		<%= text_field_tag "month", "", class: "form-control", placeholder: "Enter Expiry month" %>
					  	</div>
					  </div>
					  <div class="form-group">
					  	<div class="col-md-4">
					  		<%= text_field_tag "year", "", class: "form-control", placeholder: "Enter Expiry year" %>
					  	</div>
					  </div>
					  <div class="form-group">
					  	<div class="col-md-4">
					  		<%= text_field_tag "cvc", "", class: "form-control", placeholder: "Enter CVC" %>
					  	</div>
					  </div>
					  <div class="form-group">
					  	<div class="col-md-4">
					  		<%= submit_tag "Add Payment Details", class: "btn btn-primary" %>
					  	</div>
					  </div>
					  <!-- <div id="script_div"></div>
						<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	          data-key="<%#= Rails.configuration.stripe[:publishable_key] %>"
	          data-description="A month's subscription"
	          data-locale="auto"></script> -->
	        <% end %>
				</div>
			</div>
		</div>
	</div>
	