<%= link_to "Enter Check", new_admin_check_path %><br />
<%= link_to "View/Print Check", admin_checks_path %><br />
<%= link_to "Create Payment Link", payment_link_admin_checks_path %><br />
<%= link_to "Logout", destroy_user_session_path, method: :delete %><br />