<div class="page-header">
	<div class="page-header-content">
		<div class="page-title">
		<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold"><%= @main_title %></span> - <%= @span_title %></h4>

			<ul class="breadcrumb breadcrumb-caret position-right">
				<li><a href="index.html">Home</a></li>
				<li><a href="jqueryui_forms.html">jQuery UI</a></li>
				<li class="active">Forms</li>
			</ul>
		</div>

		<!-- <div class="heading-elements">
			<div class="heading-btn-group">
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
				<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
			</div>
		</div> -->
	</div>
</div>