<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">

	<%= stylesheet_link_tag 'admin', media: 'all' %>
	<%= javascript_include_tag 'admin' %>

	<title>Checkless PayTech | Admin Panel</title>

	<%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/adminside/header" %>
	<%= yield %>
	<%= render "layouts/adminside/footer" %>
	</div>
</body>
</html>
