<!DOCTYPE html>
<html>
<head>
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

	<%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <title>Cardless PayTech</title>

  <%= csrf_meta_tags %>
</head>
<body class="stretched">
	<!-- <div id="wrapper" class="clearfix"> -->
		<%= render "layouts/frontside/header" %>
		<%= render "layouts/frontside/slider" %>
		<%= yield %>
		<%= render "layouts/frontside/footer" %>
	<!-- </div> -->
</body>
</html>
