<!DOCTYPE html>
<html>
<head>
	<%= wicked_pdf_stylesheet_link_tag 'pdf', media: 'all' %>
	<style type="text/css" media="all">
		@font-face {
		  font-family: 'MICR Encoding';
		  src: url('<%= Rails.root.join('app', 'assets', 'fonts', 'MICR-Encoding.ttf') %>') format('truetype');
		}
	</style>
	<title>Check</title>
</head>
<body style="font-size:20px; font-family:Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;">
	<%= yield %>
</body>
</html>
